<section id="about" class="about-section">
    <div class="container about-container">
        <div class="about-image">
            <div class="camera-pill-shape">
                <img src="/src/images/podium.jpg" alt="About Photography School" class="about-img">
            </div>
        </div>
        <div class="about-content">
            <h2 class="heading-md mb-md">About <span class="text-accent">Us</span></h2>
            <div class="about-text-grid">
                <p>Our photography school is designed to teach you everything you need to know about this
                    magical art. Regardless of your experience or skill level, we offer a wide range of courses
                    to suit your needs and interests.</p>
                <p>Our teaching team consists of experienced photographers who have many years of experience in
                    this field. They strive not only to share their knowledge, but also to inspire you to
                    develop and express your unique creativity. Our courses cover a wide range of topics, from
                    the basics of photography and equipment use to professional image processing and creating
                    impressive compositions.</p>
            </div>
        </div>
    </div>
</section>