<section id="mentors" class="mentors-section">
    <div class="container">
        <h2 class="heading-lg mb-lg">Our <span class="text-accent">Mentors</span></h2>
        <div class="mentors-grid">
            <div class="mentor-item">
                <img class="mentor-img" src="/src/images/emiliasmith.png" alt="Emilia Smith">
                <h4 class="mentor-name">Emilia Smith</h4>
                <p class="mentor-exp">1.5 years of experience</p>
            </div>
            <div class="mentor-item">
                <img class="mentor-img" src="/src/images/alexlebedev.png" alt="Alex Lebedev">
                <h4 class="mentor-name">Alex Lebedev</h4>
                <p class="mentor-exp">3.5 years of experience</p>
            </div>
            <div class="mentor-item">
                <img class="mentor-img" src="/src/images/miadubrovska.png" alt="Mia Dubrovska">
                <h4 class="mentor-name">Mia Dubrovska</h4>
                <p class="mentor-exp">2.0 years of experience</p>
            </div>
            <div class="mentor-item">
                <img class="mentor-img" src="/src/images/eliotkovalev.png" alt="Eliot Kovalev">
                <h4 class="mentor-name">Eliot Kovalev</h4>
                <p class="mentor-exp">4.0 years of experience</p>
            </div>
        </div>
    </div>
</section>